<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="/static/css/reset.css" rel="stylesheet">
    <link href="/static/css/terminalize.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <script
        src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js" 
        integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V"   crossorigin="anonymous">
    </script>
    {% block head %}
    {% endblock %}
  </head>
  <body>
    {% block content %}
    {% endblock content %}
    <footer>
      {% block footer %}
      {% endblock %}
    </footer>
  </body>
</html>
