{% extends "base.html" %}

{% block footer %}
<script>
  document.body.addEventListener('htmx:afterSwap', function(evt) {
    var widget = document.body.querySelector(".widget");
    console.log('fire afterSwap on ', widget);
    widget.classList.add('widget--visible');
      setTimeout(() => {
          console.log('hide content');
          widget.classList.remove('widget--visible');
      }, {{showtime}}); // 3000 milliseconds = 3 seconds

  });
  //htmx.logAll()
</script>
{% endblock %}

{% block content %}
  <div
    hx-swap="posts" 
    hx-get="/widget/"
    hx-trigger="every {{sleep_time}}s"
    hx-target=".widget_lists">
  </div>
  <div class="widget_lists"></div>

  <article class="widget">
    start widget
  </article>
{% endblock content %}

