{% extends "base.html" %}

{% block head %}
<script>
  document.body.addEventListener('htmx:afterSwap', function(evt) {
    var sortables = document.body.querySelector(".widget");
    sortables.style.display = 'block';
      setTimeout(() => {
          console.log('hide content');
          if (sortables !== null) {
            sortables.style.display = 'none';
          }
        }, 5000); // 3000 milliseconds = 3 seconds

  });
//  htmx.logAll()

</script>
{% endblock %}

{% block content %}
  <div hx-swap="posts" hx-get="/widget"
                       hx-trigger="every {{sleep_time}}s"
    hx-target=".widget_lists">
  </div>
  <div class="widget_lists"></div>

  <article class="widget">
    start widget
  </article>


{% endblock content %}

